version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    groups:
      k8s:
        patterns:
        - "k8s.io/*"
        update-types:
        - "patch"
      golang.org/x:
        patterns:
        - "golang.org/x/*"
    ignore:
    - dependency-name: "k8s.io/*"
      update-types: ["version-update:semver-major", "version-update:semver-minor"] # ignore all except for patch updates
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
  - package-ecosystem: "npm"
    directory: "/client/web/antrea-ui"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
