name: Node
on:
  pull_request:
    branches:
    - main
    - release-*
  push:
    branches:
    - main
    - release-*

jobs:
  yarn:
    name: Run Node checks
    runs-on: ubuntu-latest
    steps:
    - name: Check-out code
      uses: actions/checkout@v5
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 22
    - name: Enable Corepack
      run: corepack enable
    - run: yarn install
      working-directory: client/web/antrea-ui/
    - run: yarn lint
      working-directory: client/web/antrea-ui/
    - run: yarn test
      working-directory: client/web/antrea-ui/
